.container {
  display: flex;
  flex-direction: column;
}

.sidebar_expanded {
  height: calc((var(--vh, 1vh) * 100) - var(--nav, 60px));
  max-height: calc((var(--vh, 1vh) * 100) - var(--nav, 60px));
  flex-basis: 100%;
}

.toggleContainer {
  width: 100%;
  padding: 1.5rem 3rem 1.5rem 3rem;
}

.panel {
  margin: 1rem 3rem 1rem 3rem;
  flex: 2 3 80%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.panel > h1, .panel > h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.bannerContainer{
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.bannerContainer > img {
  max-height: 350px;
}

.links {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.links > li {
  display: inline;
  margin: 0 0.5rem 0 0.5rem;
}

.pollingGraph {
  min-height: 20rem;
}

@media only screen and (min-width: 800px) {
  .container{
    flex-direction: row;
  }
  .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: var(--nav, 60px);
    flex: 1 0 21rem;
    height: calc((var(--vh, 1vh) * 100) - var(--nav, 60px));
    max-height: calc((var(--vh, 1vh) * 100) - var(--nav, 60px));
    border-right: 1px solid #d6d6d6;
  }

  .toggleContainer {
    display: none;
  }

  .sidebar_expanded {
    composes: sidebar;
  }

  .sidebar_hidden {
    composes: sidebar;
  }
  .pollingGraph {
    height: 20rem;
    max-height: calc(20rem);
    width: calc(100vw - 21rem - 5rem);
    max-width: calc(100vw - 21rem - 5rem);
  }
}