.container {
  padding: 0.05rem;
  border-radius: 2rem;
  font-weight: 600;
  font-size: 12px;
  margin: 0.1rem 0.1rem 0.1rem 0.1rem;
  letter-spacing: 0.025em;
  display: inline-flex;
  align-items: center;
}

.container > span {
  margin-right: 0.5rem;
}

.imgStyle {
  max-width: 1.3rem;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  margin: 0 0.3rem 0 0.2rem;
}
