.container{
    display: flex;
    flex-direction: column; 
}

.sidebar {
    border-right: 1px solid #d6d6d6;
    flex: 1 1 16rem;
}

.content {
    flex: 2 1 75%;
    overflow-y: auto;
    padding: 2rem;
}

@media only screen and (min-width: 800px){
    .container{
        flex-direction: row;
    }

    .sidebar, .content {
        max-height: calc((var(--vh, 1vh) * 100) - var(--nav, 60px));
    }

    .sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        overflow-y: auto;  
    }
}

.description{
    font-family: 'Open Sans', sans-serif;
}

.adminNav {
    display: flex;
    height: 2.7rem;
    padding: 0.2rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background-color: #ffcd43;
    width: 100%;
    box-shadow: 0px 4px 11px -2px rgba(0, 0, 0, 0.137);
    justify-content: center;
}

.adminNav > * {
    padding: 0.5rem;
}

.adminNav > a {
    color: rgb(27, 27, 27);
    font-weight: 500;    
}

.issueSelector {
    padding: 0rem 0 0 0;
    border-radius: 10px;
}

.issueSelector > li {
    border: 1px solid rgba(0,0,0,0);
    list-style-type: none;
    padding: 0.5rem;
    margin: 0.25rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.issueSelector > li:hover {
    border: 1px solid #9dcde0;
}

.issueSelector > li:nth-child(odd){
    background-color: #f0f0f0;
}

@media only screen and (max-width: 768px) {
    .issue{
        flex-basis: 50%;
    }    
}