.container{
    display: flex;
    flex-direction: row; 
}

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    flex-basis: 21rem;
    height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    overflow-y: scroll;
    border-right: 1px solid #d6d6d6;
}

.content {
    flex: 1 1 70%;
    height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    overflow-y: scroll;
    padding: 2rem;
}

.description{
    font-family: 'Open Sans', sans-serif;
}

.adminNav {
    display: flex;
    height: 2.7rem;
    padding: 0.2rem;
    background-color: #ffcd43;
    width: 100%;
    box-shadow: 0px 4px 11px -2px rgba(0, 0, 0, 0.137);
    justify-content: center;
}

.adminNav > * {
    padding: 0.5rem;
}

.adminNav > a {
    color: rgb(27, 27, 27);
    font-weight: 500;    
}

.issueSelector {
    padding: 0rem 0 0 0;
    border-radius: 10px;
}

.issueSelector > li {
    list-style-type: none;
    padding: 0.5rem;
}

.issueSelector > li:nth-child(even){
    background-color: #fefefe;
}

.issueSelector > li:nth-child(odd){
    background-color: rgb(235, 235, 235);
}

@media only screen and (max-width: 768px) {
    .issue{
        flex-basis: 50%;
    }    
}