.container{
  padding: 0.5rem;
}

.dropdownList_standalone{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0rem 0.5rem 0rem 0.5rem;
  padding: 0rem 0 0 0;
}

.dropdownList_standalone > li {
  padding: 0.6rem;
  user-select: none;
}

.dropdownList_standalone input, .dropdownList_standalone span {
  cursor: pointer;
}

.dropdownList_standalone > li:last-of-type {
  flex-basis: 100%;
}

.dropdownList_standalone > li span {
  margin-left: 0.25rem;
  font-size: 14px;
}