.container{
    max-height: calc(100vh - 60px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.issue{
    flex-basis: 33%;
    padding: 2rem;
}

.description{
    font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 768px) {
    .issue{
        flex-basis: 50%;
    }    
}