.container{
    margin: 0 1rem 0 1rem;
}

.positionContainer {
    display: flex;
    flex-direction: row;
    margin: 2rem 1rem 2rem 1rem;
    flex-wrap: wrap;
}

.positionContainer > div {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin: 1rem;
}

@media only screen and (max-width: 1200px){
    .positionContainer > div {
        flex-basis: 50%;
    }
}

.positionContainer > div > h4 {
    flex-basis: 100%;
    text-align: center;
}

.pieContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: rgb(95, 95, 95);
    padding: 0.7rem 1.0rem 1.0rem 1.0rem;
    border-radius: 1rem;
    color: #fff;
    font-weight: 600;
}

.pieContainer > p {
    font-size: 20px;
    flex-basis: 100%;
    text-align: center;
}

.pieChart {
    width: 10rem;
    margin-bottom: 0.5rem;
}

.pieChartLabels{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

p.pieLabel {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 2rem;
    margin: 0.3rem;
    font-size: 12px;

}

.pieLabelSupports {
    composes: pieLabel;
    background-color: #0d9900;
}

.pieLabelMixed {
    composes: pieLabel;
    background-color: #c2bb00;
}

.pieLabelOpposed {
    composes: pieLabel;
    background-color: #ac2715;
}