.container {
  display: flex;
  flex-direction: column;
}

.container h1 {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
  letter-spacing: -0.03em;
}

.subheading {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  margin: 1rem 0rem 1rem 0rem;
  line-height: 23px;
  letter-spacing: -0.03em;
  flex-grow: 0;
}

.controlButtons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.controlButtons button {
  margin: 0 1em 0 0;
}

.row {
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
}

.col {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

.selectContainer {
  composes: col;
  flex: 1 1 50%;
}

.editContainer {
  composes: col;
  flex: 1 1 50%;
}

.descriptionEditor {
  display: block;
  width: 100%;
  min-height: 20rem;
  height: 100%;
  background: #ffffff;
  border: 1px solid #c9c9c9;
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-family: "Open-Sans", sans-serif;
}

.nameEditor {
  border: 1px solid #c9c9c9;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-family: "Open-Sans", sans-serif;
}

.nameEditor:focus,
.descriptionEditor:focus {
  outline: none;
  box-shadow: 2px 3px 10px rgba(21, 55, 94, 0.25);
}

@media only screen and (max-width: 1100px) {
  .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
