.container {
  margin: 0 1rem 0 1rem;
}

.positionContainer {
  display: flex;
  flex-direction: row;
  margin: 2rem 1rem 2rem 1rem;
  flex-wrap: wrap;
}

.positionContainer > div {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin: 1rem;
}

@media only screen and (max-width: 1200px) {
  .positionContainer > div {
    flex-basis: 50%;
  }
}

.positionContainer > div > h4 {
  flex-basis: 100%;
  text-align: center;
}

.pieContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.7rem 1rem 1rem 1rem;
  border-radius: 1rem;
  font-weight: 600;
}

.pieContainer > p {
  font-size: 20px;
  flex-basis: 100%;
  text-align: center;
}

.pieChart {
  margin-bottom: 0.5rem;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.pieChartLabels {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

p.pieLabel {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 2rem;
  margin: 0.3rem;
  font-size: 12px;
  font-weight: 600;
  color: rgb(41, 41, 41);
}

.pieLabelSupports {
  composes: pieLabel;
  background-color: #B1DE9C;
}

.pieLabelMixed {
  composes: pieLabel;
  background-color: #F5DF9F;
}

.pieLabelOpposed {
  composes: pieLabel;
  background-color: #EBA598;
}

.pieLabelUnknown {
  composes: pieLabel;
  background-color: #B9B5C7;
}