.candidateView{
    display: flex;
    height: calc(100vh - 3.75rem);
    overflow-y: hidden;
}

.sidebar{
    flex-basis: 350px;
}

@media only screen and (max-width: 800px) {
    .candidateView{
        flex-direction: column;
    }

    .sidebar_expanded{
        composes: sidebar;
        flex-basis: 100%;
    }

    .sidebar_hidden {
        composes: sidebar;
        display: none;
    }

}